/*
 * 图标样式
 * 定义了图标的基本样式和不同尺寸
 */

[data-component="icon"] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  color: var(--icon-base);

  /* 小尺寸图标 */
  &[data-size="small"] {
    width: 16px;
    height: 16px;
  }

  /* 正常尺寸图标 */
  &[data-size="normal"] {
    width: 20px;
    height: 20px;
  }

  /* 大尺寸图标 */
  &[data-size="large"] {
    width: 24px;
    height: 24px;
  }

  /* 图标 SVG 样式 */
  [data-slot="icon-svg"] {
    width: 100%;
    height: auto;
  }
}
